@font-face {
	font-family: "Monaspace Neon";
	font-style: normal;
	font-display: swap;
	font-weight: 400;
	src:
		url("../assets/MonaspaceNeon-Regular.woff2") format("woff2"),
		url("../assets/MonaspaceNeon-Regular.woff") format("woff");
}

:root {
	--vp-font-family-mono: "Monaspace Neon";
}

.shiki code {
	tab-size: 2 !important;
}
